@font-face {
  font-family: "loadingOverlay";
  src: url('../fonts/icons.woff') format("woff"), url('../fonts/icons.ttf') format("truetype");
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'RalewayExtraBold';
  src: url('../fonts/Raleway-ExtraBold.ttf');
}
/* Loading-overlay styles */
body {
  font-family: 'Raleway';
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Raleway';
}
@keyframes loadingStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: relative;
  pointer-events: none;
  min-height: 5.3rem;
  z-index: 999999;
}
.loading .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loadingStart 100ms 300ms linear 1 both;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  display: none;
  text-transform: uppercase;
  font-weight: bold;
}
.loading .loading-text:after {
  content: "...";
}
.loading .loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -2rem auto 0.2rem;
  color: #1a1d1d;
  opacity: 0.8;
  text-align: center;
}
.loading .loading-icon {
  font-size: 3.3125rem;
  line-height: 4.25rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  animation: loading 1s steps(4) infinite;
  display: block;
  vertical-align: middle;
}
.loading .loading-icon:before {
  vertical-align: middle;
  content: "\e000";
  font-family: "loadingOverlay";
}
.materials-form .form-material {
  position: relative;
}
.materials-form .form-material > label {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 13px;
  font-weight: 600;
  transform: translateY(-24px);
}
.materials-form .form-material.floating > label {
  font-size: 15px;
  font-weight: 400;
  cursor: text;
  z-index: 10;
  transition: all 0.15s ease-out;
  transform: translateY(0);
}
.materials-form .form-material.floating > .form-control[disabled] + label,
.materials-form .form-material.floating > .form-control[readonly] + label,
.materials-form fieldset[disabled] .form-material.floating > label {
  cursor: not-allowed;
}
.materials-form .form-material > .form-control {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: 0 1px 0 #e6e6e6;
}
.materials-form .form-material > .form-control:focus {
  background-color: transparent;
  box-shadow: 0 2px 0 #646464;
}
.materials-form .form-material > .form-control:focus + label {
  color: #646464;
}
.materials-form .form-material > .form-control:focus ~ .input-group-addon {
  box-shadow: 0 2px 0 #646464;
}
.materials-form .form-material > .form-control:focus + label,
.materials-form .form-material.floating.open > label {
  font-size: 13px;
  font-weight: 600;
  cursor: default;
  transform: translateY(-24px);
}
.materials-form .form-material .form-control[disabled],
.materials-form .form-material .form-control[readonly],
.materials-form .form-material fieldset[disabled] .form-control {
  background-color: #fff;
  border-bottom: 1px dashed #ccc;
  box-shadow: none;
}
.materials-form .form-material.input-group .input-group-addon {
  border: none;
  background-color: transparent;
  border-radius: 0 !important;
  box-shadow: 0 1px 0 #e6e6e6;
  transition: all 0.15s ease-out;
}
.materials-form .form-material.form-material-primary > .form-control:focus {
  box-shadow: 0 2px 0 #5c90d2;
}
.materials-form .form-material.form-material-primary > .form-control:focus + label {
  color: #5c90d2;
}
.materials-form .form-material.form-material-primary > .form-control:focus ~ .input-group-addon {
  color: #5c90d2;
  box-shadow: 0 2px 0 #5c90d2;
}
.materials-form .form-material.form-material-success > .form-control:focus {
  box-shadow: 0 2px 0 #46c37b;
}
.materials-form .form-material.form-material-success > .form-control:focus + label {
  color: #46c37b;
}
.materials-form .form-material.form-material-success > .form-control:focus ~ .input-group-addon {
  color: #46c37b;
  box-shadow: 0 2px 0 #46c37b;
}
.materials-form .form-material.form-material-info > .form-control:focus {
  box-shadow: 0 2px 0 #70b9eb;
}
.materials-form .form-material.form-material-info > .form-control:focus + label {
  color: #70b9eb;
}
.materials-form .form-material.form-material-info > .form-control:focus ~ .input-group-addon {
  color: #70b9eb;
  box-shadow: 0 2px 0 #70b9eb;
}
.materials-form .form-material.form-material-warning > .form-control:focus {
  box-shadow: 0 2px 0 #f3b760;
}
.materials-form .form-material.form-material-warning > .form-control:focus + label {
  color: #f3b760;
}
.materials-form .form-material.form-material-warning > .form-control:focus ~ .input-group-addon {
  color: #f3b760;
  box-shadow: 0 2px 0 #f3b760;
}
.materials-form .form-material.form-material-danger > .form-control:focus {
  box-shadow: 0 2px 0 #d26a5c;
}
.materials-form .form-material.form-material-danger > .form-control:focus + label {
  color: #d26a5c;
}
.materials-form .form-material.form-material-danger > .form-control:focus ~ .input-group-addon {
  color: #d26a5c;
  box-shadow: 0 2px 0 #d26a5c;
}
.materials-form .has-success .form-material > .form-control {
  box-shadow: 0 1px 0 #46c37b;
}
.materials-form .has-success .form-material > .form-control:focus {
  box-shadow: 0 2px 0 #46c37b;
}
.materials-form .has-success .form-material > .form-control:focus + label {
  color: #46c37b;
}
.materials-form .has-success .form-material > .form-control:focus ~ .input-group-addon {
  color: #46c37b;
  box-shadow: 0 2px 0 #46c37b;
}
.materials-form .has-success .form-material > .form-control + label {
  color: #46c37b;
}
.materials-form .has-success .form-material > .form-control ~ .input-group-addon {
  color: #46c37b;
  box-shadow: 0 1px 0 #46c37b;
}
.materials-form .has-success .form-material > .help-block {
  color: #46c37b;
}
.materials-form .has-info .form-material > .form-control {
  box-shadow: 0 1px 0 #70b9eb;
}
.materials-form .has-info .form-material > .form-control:focus {
  box-shadow: 0 2px 0 #70b9eb;
}
.materials-form .has-info .form-material > .form-control:focus + label {
  color: #70b9eb;
}
.materials-form .has-info .form-material > .form-control:focus ~ .input-group-addon {
  color: #70b9eb;
  box-shadow: 0 2px 0 #70b9eb;
}
.materials-form .has-info .form-material > .form-control + label {
  color: #70b9eb;
}
.materials-form .has-info .form-material > .form-control ~ .input-group-addon {
  color: #70b9eb;
  box-shadow: 0 1px 0 #70b9eb;
}
.materials-form .has-info .form-material > .help-block {
  color: #70b9eb;
}
.materials-form .has-warning .form-material > .form-control {
  box-shadow: 0 1px 0 #f3b760;
}
.materials-form .has-warning .form-material > .form-control:focus {
  box-shadow: 0 2px 0 #f3b760;
}
.materials-form .has-warning .form-material > .form-control:focus + label {
  color: #f3b760;
}
.materials-form .has-warning .form-material > .form-control:focus ~ .input-group-addon {
  color: #f3b760;
  box-shadow: 0 2px 0 #f3b760;
}
.materials-form .has-warning .form-material > .form-control + label {
  color: #f3b760;
}
.materials-form .has-warning .form-material > .form-control ~ .input-group-addon {
  color: #f3b760;
  box-shadow: 0 1px 0 #f3b760;
}
.materials-form .has-warning .form-material > .help-block {
  color: #f3b760;
}
.materials-form .has-error .form-material > .form-control {
  box-shadow: 0 1px 0 #d26a5c;
}
.materials-form .has-error .form-material > .form-control:focus {
  box-shadow: 0 2px 0 #d26a5c;
}
.materials-form .has-error .form-material > .form-control:focus + label {
  color: #d26a5c;
}
.materials-form .has-error .form-material > .form-control:focus ~ .input-group-addon {
  color: #d26a5c;
  box-shadow: 0 2px 0 #d26a5c;
}
.materials-form .has-error .form-material > .form-control + label {
  color: #d26a5c;
}
.materials-form .has-error .form-material > .form-control ~ .input-group-addon {
  color: #d26a5c;
  box-shadow: 0 1px 0 #d26a5c;
}
.materials-form .has-error .form-material > .help-block {
  color: #d26a5c;
}
.panel.infolist .materials-form .form-group {
  border-bottom: none;
  overflow-y: inherit;
}
@media (min-width: 768px) {
  .materials-form .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
/* =================== Upload using DZ =================== */
.dropzone-form {
  border: 1px dashed #0087F7;
  border-radius: 5px;
  background: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /*min-height: 100px;*/
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.dropzone-form div.dz-message {
  display: block;
  padding: 20px 0px;
  color: #999;
}
.dropzone-form div.dz-message i.fa {
  font-size: 40px;
}
.dropzone-form .closeDZ {
  display: block;
  position: relative;
  width: 10px;
  float: right;
  margin-top: -2px;
  margin-right: 2px;
}
/* ===================================================== */
a {
  color: #0a4391;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 8px 30px;
  line-height: 1.1;
  border-radius: 10px;
}
.btn-primary {
  background-color: #0a4391;
  border-color: #083879;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #083879;
}
.btn-primary:focus {
  border-color: #072d61;
  background-color: #0a4391;
}
.btn-primary.disabled {
  background-color: #0a4391;
  border-color: #083879;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: white;
}
.form-control,
.dropdown-menu {
  font-size: 12px;
}
.text-color-primary {
  color: #0a4391;
}
.text-bold {
  font-family: RalewayBold;
}
.text-extra-bold {
  font-family: RalewayExtraBold;
}
.mic-table thead > tr > th {
  border-bottom: solid 2px #e1e1e1;
}
.mic-table tbody > tr > td {
  border-top: solid 1px #e1e1e1;
  vertical-align: middle;
}
.stylish-input-group .input-group-addon {
  background: white !important;
}
.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
.stylish-input-group button {
  border: 0;
  background: transparent;
}
ul.claim-photo-section {
  overflow: auto;
}
ul.claim-photo-section li {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 180px;
  width: 180px;
  height: 180px;
}
ul.claim-photo-section li a img {
  height: auto;
}
ul.claim-photo-section .blueimp-gallery > .indicator > li {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
ul.claim-photo-section li.claim-photo-item .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
ul.claim-photo-section li.claim-photo-item .hovereffect .overlay-pane {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
ul.claim-photo-section li.claim-photo-item .hovereffect img {
  display: block;
  position: relative;
  transition: all .4s linear;
}
ul.claim-photo-section li.claim-photo-item .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  transform: translatey(-100px);
  transition: all 0.1s ease-in-out;
  padding: 10px;
}
ul.claim-photo-section li.claim-photo-item .hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.1s ease-in-out;
  margin: 50px 5px 0px 5px;
  padding: 7px;
  height: auto;
}
ul.claim-photo-section li.claim-photo-item .hovereffect a.info i.fa {
  width: 20px;
  height: 20px;
  font-size: 16px;
  padding: 0px;
}
ul.claim-photo-section li.claim-photo-item .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
ul.claim-photo-section li.claim-photo-item .hovereffect:hover img {
  transform: scale(1.2);
}
ul.claim-photo-section li.claim-photo-item .hovereffect:hover .overlay-pane {
  opacity: 1;
  filter: alpha(opacity=100);
}
ul.claim-photo-section li.claim-photo-item .hovereffect:hover h2,
ul.claim-photo-section li.claim-photo-item .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translatey(0);
}
ul.claim-photo-section li.claim-photo-item .hovereffect:hover a.info {
  transition-delay: .1s;
}
.doc-file-modal .modal-header {
  padding: 0px;
  border-bottom-color: #ddd;
}
.doc-file-modal .modal-header h4.modal-title {
  padding: 13px 15px;
}
.doc-file-modal .modal-header button {
  float: right;
  padding: 15px;
  background: #FFF;
  border: 0px;
  border-left: solid 1px #ddd;
  text-align: center;
  width: 50px;
  height: 51px;
  margin-top: 0px;
  font-size: 17px;
  color: #d6d6d6;
  opacity: 1;
}
.doc-file-modal .modal-header button:hover {
  color: #bbb;
  background: #EEE;
}
.doc-file-modal .modal-footer {
  border-top-color: #ddd;
}
.doc-file-modal .file-info-form {
  padding: 10px;
  height: 330px;
  background: #f3f3f3;
  border-left: solid 1px #ddd;
}
.doc-file-modal .file-info-form label {
  color: #666;
  font-weight: normal;
}
.doc-file-modal .col-xs-8,
.doc-file-modal .col-xs-4 {
  padding: 0px;
}
.doc-file-modal .fileObject {
  text-align: center;
  padding: 15px 0px;
}
.doc-file-modal .fileObject img {
  max-width: 100%;
  max-height: 300px;
}
.doc-file-modal .panel-loading {
  min-height: 100px;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
  background-image: url(../img/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100000;
}
#view_doc_modal button.close {
  float: left;
  padding: 15px;
  margin-right: 10px;
  border-right: solid 1px #ddd;
}
#view_doc_modal .modal-body {
  background: #f6f9fc;
}
.claim-doc-section {
  overflow: auto;
}
.claim-doc-section table tr th {
  font-family: RalewayBold;
}
.claim-doc-section .mic-table {
  font-size: 14px;
}
.claim-doc-section .mic-table td.doc-name {
  font-family: RalewayBold;
}
.doc-comment-section {
  overflow-y: auto;
  padding-bottom: 10px;
}
.doc-comment-section .comment-card-w-hint {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.doc-comment-section .comment-card {
  margin: 10px 10px 0;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px #e8e8e8;
}
.doc-comment-section .comment-field {
  position: relative;
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  table-layout: fixed;
  border-radius: inherit;
  background-color: #fff;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.doc-comment-section .comment-field .commenter-photo {
  display: table-cell;
  width: 32px;
  padding-right: 10px;
  vertical-align: top;
  white-space: nowrap;
}
.doc-comment-section .mentions-container {
  position: relative;
  width: 100%;
  display: table-cell;
  vertical-align: top;
}
.doc-comment-section .mentions-container .mentions-input {
  width: 100%;
  display: inline-block;
  min-height: 30px;
  word-wrap: break-word;
}
.doc-comment-section .mentions-container .comment-input-text {
  resize: none;
  overflow: hidden;
  width: 100%;
  background: #fcfad8;
  border: none;
  padding: 5px;
  height: 30px;
}
.doc-comment-section .mentions-container .placeholder-text {
  box-sizing: border-box;
  position: absolute;
  padding: 6px;
  color: #aaa;
}
.doc-comment-section .comment-box {
  display: block;
  width: 100%;
  vertical-align: top;
}
.doc-comment-section .comment-box .commenter-photo {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.doc-comment-section .comment-box .commenter-photo img {
  width: 32px;
  height: 32px;
}
.doc-comment-section .comment-box .mentions-container {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.doc-comment-section .comment-box .post-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  margin-top: 5px;
}
.doc-comment-section .threaded-comment-list {
  padding-bottom: 10px;
  transition: box-shadow 0.2s ease, border 0.2s ease;
  color: #3d464d;
}
.doc-comment-section .threaded-comment-list .comment-activity {
  width: 100%;
  opacity: 1;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 0;
  table-layout: fixed;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .commenter-photo {
  display: table-cell;
  width: 40px;
  padding-top: 4px;
  padding-right: 8px;
  vertical-align: top;
  white-space: nowrap;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .commenter-photo img {
  width: 32px;
  height: 32px;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .comment-body {
  display: table-cell;
  width: 99%;
  vertical-align: top;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .comment-body .comment-top-bar {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 0;
  padding-top: 1px;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .comment-body .comment-top-bar .commenter-name {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  max-width: 140px;
  margin-right: 5px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .comment-body .comment-top-bar .comment-when {
  font-size: 11px;
  display: inline-block;
  color: #a1a1a1;
}
.doc-comment-section .threaded-comment-list .comment-activity .comment .comment-body .comment-text {
  font-size: 13px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #4c545a;
  margin-top: 5px;
}
.doc-comment-section .threaded-comment-list .comment-reply-section {
  padding-left: 50px;
}
.doc-comment-section .comment-field--reply {
  margin-top: 10px;
  padding-bottom: 0;
  border-top: 1px solid #e8e8e8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  display: none;
}
.doc-comment-section .threaded-comment-list.focus-thread .comment-field--reply {
  display: block;
}
.doc-comment-section .threaded-comment-list.focus-thread .comment-reply-section {
  display: none;
}
.activity-list-section .ca-feed-item {
  border-bottom: solid 1px #e8e8e8;
  padding: 10px;
  display: table;
}
.activity-list-section .ca-feed-item:last-child {
  border-bottom: none;
}
.activity-list-section .ca-feed-item .user-avatar {
  display: table-cell;
  margin-right: 10px;
  margin-bottom: 10px;
}
.activity-list-section .ca-feed-item .user-avatar img {
  width: 60px;
  height: 60px;
}
.activity-list-section .ca-feed-item .feed-body {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.activity-list-section .ca-feed-item .feed-user {
  margin-bottom: 10px;
}
.activity-list-section .ca-feed-item .user-name {
  font-size: 1.25em;
  margin-top: 5px;
}
.activity-list-section .ca-feed-item .comment-text {
  padding: 5px 10px;
  font-style: italic;
}
.activity-list-section .ca-feed-item .activity-time {
  color: #888;
  font-size: 0.9em;
}
.activity-list-section .no-activity {
  text-align: center;
  padding: 30px 0px;
}
.user-avatar-settings-wrapper {
  display: table;
}
.user-avatar-settings-wrapper .user-avatar-image {
  display: table-cell;
  padding: 10px 15px;
}
.user-avatar-settings-wrapper .user-avatar-update {
  display: table-cell;
}
.video-list .mark-watched-bg {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: #a3a3a3 transparent transparent transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.8;
}
.video-list .mark-watched {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1001;
  font-size: 24px;
  top: 3px;
  left: 5px;
  color: #0A4390;
}
.video-list .video-info {
  color: #888;
}
.video-list .video-info .video-title {
  font-size: 1.1em;
  color: #48B0F7;
  font-weight: 700;
}
.video-list .video-price {
  color: red;
}
.video-list .video-thumbnail {
  position: relative;
}
.video-list .video-thumbnail .video-duration {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0px 5px;
  color: white;
  background: #000;
  opacity: 0.7;
  font-weight: bold;
}
.video-list .video-thumbnail .video-price {
  text-align: center;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px 10px;
  color: red;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 10px;
}
.notification-list .noti-item {
  display: table;
  width: 100%;
  padding: 7px 10px;
  margin: 1px 0px;
  background: #eeeeee;
}
.notification-list .noti-item .noti-remove-icon {
  display: table-cell;
  vertical-align: middle;
}
.notification-list .noti-item a.noti-remove {
  font-size: 16px;
  font-weight: normal;
  color: #777777;
  display: block;
  margin-right: 10px;
}
.notification-list .noti-item .noti-message {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.notification-list .noti-item .noti-time {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  min-width: 60px;
  color: #777777;
}
.user-nav .notifications-menu .user-noti-list > ul.menu {
  max-height: 500px;
}
.user-nav .notifications-menu .user-noti-list > ul.menu > li > a {
  overflow: initial;
  text-overflow: unset;
  white-space: normal;
  word-wrap: break-word;
}
.claim-billing-doc-section .billing-reply-doc td:first-child {
  padding-left: 30px;
}
html,
body {
  height: 100%;
  margin: 0;
  background: #f5f5f5;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -50px;
  padding-bottom: 50px;
  background-color: inherit !important;
}
.content-wrapper {
  background: inherit;
  margin-top: 110px;
}
.no-main-header .content-wrapper {
  margin-top: 0px;
}
.content-box {
  position: relative;
  border: solid 1px #cacaca;
  background: #fafafa;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.content-box.white {
  background: white;
}
.main-footer {
  height: 50px;
  position: relative;
}
.navbar-brand {
  height: auto;
  padding: 10px;
}
.main-header {
  background: #f5f5f5;
  width: 100%;
  max-height: 110px;
  height: 110px;
  position: fixed;
  top: 0px;
  overflow: hidden;
}
.main-header > .navbar {
  margin-left: 0px;
  margin-top: 30px;
  background: #4e433d;
  height: 80px;
}
.main-header .navbar-header {
  position: relative;
  padding: 0px 0px 0px 60px;
}
.main-header .navbar-nav > li > a {
  color: white;
  font-size: 14px;
}
.main-header .navbar-toggle {
  padding: 5px;
  margin: 7px;
}
.main-header .logo {
  width: auto;
  height: auto;
  background-color: transparent !important;
}
.main-header .logo img.site-logo {
  position: absolute;
  left: 60px;
  top: -24px;
  z-index: 9999;
  height: 100px;
}
.main-header .logo-slogan {
  margin-left: 110px;
  margin-top: 10px;
  width: 120px;
  display: inline-block;
  color: white;
  font-size: 14px;
}
.main-header .navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.main-header .notifications-menu .user-notify-link i.fa {
  font-size: 20px;
}
.main-header .notifications-menu .user-notify-link span.msg-count {
  position: absolute;
  font-size: 11px;
  line-height: .9;
  top: -2px;
  right: 5px;
  background: red;
  border: solid 2px #4e433d;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  border-radius: 10px;
  padding: 0px;
}
.main-header .user-nav .user-nav-link {
  font-size: 18px;
}
.main-header .user-nav .user-nav-link .caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: #f7951d transparent transparent transparent;
  margin-left: 5px;
}
.main-header .user-nav .user-nav-link img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.main-header .user-nav li.user-menu-item {
  border-top: solid 1px #e5e5e5;
}
.main-header .user-nav li.user-menu-item a {
  padding: 10px 10px 10px 20px;
}
.main-header .navbar-brand > img {
  display: inline-block;
}
.main-header .navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.main-header .icon-size {
  font-size: 48px;
}
.fixed .right-side,
.main-sidebar,
.left-side {
  padding-top: 100px;
}
.row-action a.action-link .fa {
  font-size: 1.4em;
  margin: 2px 5px;
}
.dashboard-page .dashboard-section {
  width: 350px;
  margin: 0 auto;
}
.dashboard-page .dashboard-section .btn-link {
  display: block;
  margin: 10px 0px;
}
/*.doctor-page.partner-page {
  background: #50a0a2;
}
.pcp-page.partner-page {
  background: #90b312;
}

.specialist-page.partner-page{
  background: #605ca8;
}
.therapist-page.partner-page{
  background: #ff851b;
}

.attorney-page.partner-page{
  background: #6a6300;
}
.insurer-page.partner-page{
  background: #d81b60;
}*/
.cc-injury-quiz .injury-quiz-form .form-material {
  margin-left: 17px;
}
.patient-claim-page .panel.infolist .form-group:last-child {
  padding-bottom: 10px;
}
.learning-center-videos.video-list .video-info {
  min-height: 120px;
}
.learning-center-videos.video-list .video-thumbnail img {
  width: 100%;
}
.youtube-video-player {
  display: none;
}
.youtube-video-player.opened {
  display: block;
}
.claim-view-header {
  margin: 10px 0px;
}
.claim-view-header .claim-info {
  padding-left: 35px;
  padding-right: 35px;
  margin: 5px 0px;
}
.claim-view-header .claim-info .claim-doi {
  margin: 5px 0px;
  font-size: 1.2em;
}
.claim-view-header .claim-info ul.user-info {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}
.claim-view-header .claim-info ul.user-info li {
  display: block;
  overflow: hidden;
}
.claim-view-header .claim-info ul.user-info li i.fa {
  font-size: 14px;
  line-height: 32px;
  width: 16px;
  text-align: center;
  color: #c1c1c1;
  float: left;
}
.claim-view-header .claim-info ul.user-info li i.fa.fa-mobile-phone {
  font-size: 20px;
}
.claim-view-header .claim-info ul.user-info li i.fa.fa-map-marker {
  font-size: 18px;
}
.claim-view-header .claim-info ul.user-info li span {
  margin-left: 10px;
  line-height: 32px;
  float: left;
  display: inline-block;
}
.claim-view-header .claim-tabs {
  border-top: solid 1px #e1e1e1;
}
.claim-view-header .claim-tabs > a {
  padding: 0px 30px;
  border-right: solid 1px #e1e1e1;
  display: block;
  float: left;
  color: #464646;
  margin: 10px 0px;
}
.claim-view-header .claim-tabs > a:last-child {
  border-right: none;
}
.claim-view-header .claim-tabs > a.claim-activity span {
  background-image: url('../img/claim/activity-feed.png');
}
.claim-view-header .claim-tabs > a.claim-docs span {
  background-image: url('../img/claim/docs.png');
}
.claim-view-header .claim-tabs > a.claim-photos span {
  background-image: url('../img/claim/photos.png');
}
.claim-view-header .claim-tabs > a.claim-others span {
  background-image: url('../img/claim/gear-icon.png');
}
.claim-view-header .claim-tabs > a span {
  padding-left: 35px;
  display: block;
  line-height: 20px;
  background-position: 0px center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: RalewayBold;
}
.claim-view-header .claim-tabs > a.claim-fa-tab span {
  padding-left: 0px;
}
.claim-view-header .claim-tabs > a.claim-fa-tab span i.fa {
  margin-right: 20px;
  color: #bbb;
}
.claim-page .claim-view-title {
  padding-left: 50px;
}
ul.claim-photo-section {
  padding: 10px 50px;
}
.my-claims-list .claim-item-box {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 20px;
  width: auto;
}
.my-claims-list .claim-description {
  padding: 10px 40px;
}
.my-claims-list .claim-submit-date {
  font-size: 1.3em;
}
.claim-right-panel {
  margin-bottom: 20px;
  font-size: 14px;
}
.claim-right-panel .panel-header {
  padding: 10px 30px;
  background: #0a4391;
  color: white;
}
.claim-right-panel .panel-body {
  padding: 10px 20px 20px;
}
.claim-right-panel.claim-docs-panel ul {
  list-style-type: none;
  padding-left: 0px;
}
.claim-right-panel.claim-docs-panel .claim-doc-item {
  padding: 10px 10px 10px 20px;
  border-bottom: solid 1px #e1e1e1;
  word-break: break-all;
}
.claim-right-panel.claim-photos-panel .claim-photo-item {
  margin: 0px 15px 15px 0px;
}
/* smaller than Extra small screen */
@media (max-width: 767px) {
  .fixed .right-side,
  .main-sidebar,
  .left-side {
    padding-top: 70px;
  }
  .navbar-brand {
    padding: 5px 10px;
  }
  .navbar-brand img.site-logo {
    height: 60px;
  }
  .main-header {
    height: 70px;
  }
  .main-header > .navbar {
    height: 40px;
    min-height: 40px;
  }
  .main-header .logo {
    padding: 5px 10px;
  }
  .main-header .logo img.site-logo {
    height: 60px;
  }
  .main-header .container > .navbar-header,
  .main-header .container > .navbar-collapse {
    margin: 0px;
  }
  .main-header .navbar-collapse {
    background: #4e433d;
  }
  .main-header .navbar-collapse .navbar-nav > li > a {
    padding: 10px 20px;
  }
  .content-wrapper {
    margin-top: 60px;
  }
  .no-main-header .content-wrapper {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .main-header .navbar .top-navbar .navbar-nav {
    float: right;
  }
  .main-header .navbar .top-navbar .user-nav {
    margin-top: 5px;
  }
  .main-header .navbar .top-navbar .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-header .navbar .top-navbar .nav > li > a:hover {
    background: inherit;
    color: #ccc;
  }
  .main-header .navbar .top-navbar .top-menu-nav {
    margin: 15px 0px 0px;
  }
  .main-header .navbar .top-navbar .top-menu-nav > ul > li {
    border-right: solid 1px #fff;
  }
  .main-header .navbar .top-navbar .top-menu-nav > ul > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .main-header .navbar .top-navbar .top-menu-nav > ul > li:last-child {
    border-right: none;
  }
  .content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .claim-view-header .claim-info .section-1 {
    min-height: 150px;
    border-right: solid 1px #e1e1e1;
  }
  .claim-view-header .claim-info .claim-description {
    width: 80%;
  }
  .my-claims-list .claim-item-box {
    margin-left: 20px;
  }
  .my-claims-list .claim-description {
    min-height: 150px;
  }
}

/*# sourceMappingURL=mic.css.map */
