@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "component.less";
@import "common.less";

.navbar-brand {
  height: auto;
  padding: 10px;
}

.main-header {
  background: #fff;
  .logo {
    width: auto;
    height: auto;
    padding: 10px;
    .logo-lg {
      display: inline-block; 
    }
  }
}

.fixed .content-wrapper, .fixed .right-side, 
.main-sidebar, .left-side {
  padding-top: 100px;
}

.row-action {
  a.action-link .fa {
    font-size: 1.2em;
    margin: 2px 5px;
  }
}

@media (max-width: (@screen-xs-max)) {
  .fixed .content-wrapper, .fixed .right-side, 
  .main-sidebar, .left-side {
    padding-top: 70px;
  }
}

/* smaller than Extra small screen */
@media (max-width: (@screen-xs-max)) {
  .navbar-brand {
    padding: 5px 10px;
    img.site-logo {
      height: 60px;
    }
  }

  .main-header .logo {
    padding: 5px 10px;
    img.site-logo {
      height: 60px;
    }
  }
}

.dashboard-page {
  .dashboard-section {
    width: 350px;
    margin: 0 auto;
    
    .btn-link {
      display: block;
      margin: 10px 0px;
    }
  }
}

.doctor-page.partner-page .content-wrapper {
  background: #50a0a2;
}
.pcp-page.partner-page .content-wrapper {
  background: #90b312;
}

.specialist-page.partner-page .content-wrapper {
  background: #605ca8;
}
.therapist-page.partner-page .content-wrapper {
  background: #ff851b;
}

.attorney-page.partner-page .content-wrapper {
  background: #6a6300;
}
.insurer-page.partner-page .content-wrapper {
  background: #d81b60;
}

.cc-injury-quiz {
  .injury-quiz-form {
    .form-material {
      margin-left: 17px;
    }
  }
}

/* =================== Upload using DZ =================== */

.dropzone-form{
  border: 1px dashed #0087F7;
  border-radius: 5px;
  background: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /*min-height: 100px;*/
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
  div.dz-message {
    display: block;
    padding: 20px 0px;
    color: #999;
    i.fa {
      font-size: 40px;
    }
  }
  .closeDZ{
    display: block;
    position: relative;
    width: 10px;
    float: right;
    margin-top: -2px;
    margin-right: 2px;
  }
}
